/* styles_card.css */
.card {
  font-family: helvetica;
  width: 380px;
  min-width: 300px;
  height: 600px;
  background: white;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 1rem rgba(204, 198, 198, 0.793);
  flex-direction: column;
  transition: 0.2s;
}

h3 {
  font-family: helvetica;
  font-weight: bold;
  color:#bc0031;
  font-size:20px;
}

span.cards{
  font-size:10px;
}

.card_news {
  font-family: helvetica;
  width: 200px;
  min-width: 200px;
  height: 50px;
  background: white;
  flex-direction: column;
  transition: 0.2s;
  margin-right: 15px;
}

.card_deelvraag {
  font-family: helvetica;
  width: 700px;
  min-width: 300px;
  height: 100px;
  background: white;
  border-radius:5px;
  box-shadow: 0 0 1rem rgba(204, 198, 198, 0.793);
  flex-direction: column;
  transition: 0.2s;
}

.content-with-image {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: space-between; /* Space between text and image */
  margin-left:20px;
  margin-top:10px;
}

img.margin{
  margin-top: 10px;
  margin-right:10px;
}

span.margin{
  margin-right:30px;
  margin-top:10px;
}

p.margin{
  margin-right:30px;
  margin-top:10px;
}

.card_volgende {
  font-family: helvetica;
  width: 300px;
  height: 50px;
  background: white;
  border-radius:5px;
  box-shadow: 0 0 1rem rgba(204, 198, 198, 0.793);
  flex-direction: column;
  transition: 0.2s;
}

.card_nagging {
  font-family: helvetica;
  width: 700px;
  height: 250px;
  background: #f3f3f0;
  flex-direction: column;
  transition: 0.2s;
}

.card_obstruction {
  font-family: helvetica;
  width: 700px;
  height: 230px;
  background: #f3f3f0;
  flex-direction: column;
  transition: 0.2s;
}

p.grey_border_20{
  height:20px;
  background-color: #f3f3f0; 
  width:700px;
  height:20px;
}

button.margin_right{
  margin-right:10px;
}

p.margin_header{
  margin-top:10px;
}

.card_inleiding {
  font-family: helvetica;
  width: 700px;
  height: 580px;
  background: #f3f3f0;
  flex-direction: column;
  transition: 0.2s;
}







